*
{
	margin: 0;
	padding: 0;
}
@font-face {
  font-family: "Avengeance Heroic Avenger";
 }

/*Navigation*/
#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar
{
	background: #fff;
}
.navbar-toggler
{
	border: none;
}
.navbar-brand
{
	font-family: "Avengeance Heroic Avenger"
}
.nav-link
{
	color: #555;
	font-weight: 600;
	font-size: 16px;
}
.navbar-brand img
{
	height: 40px;
	padding-left: 20px;
}
.navbar-nav li
{
	padding: 0 10px;

}
.navbar-nav li a
{
	float: right;
	
}
.navbar-nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #007bff;
  sliding bar color

  position: absolute;
  top: 0;
  width: 0px;

  transition: all ease-out 150ms;
}

.navbar-nav li a:hover::before {
  width: 100%;
}

/*SLIDER*/
#home:
{
	width: 100%;
}
.carousel-caption
{
	top: 50%;
	transform: translateY(-50%);
	bottom: initial;
	text-align: left;
	text-transform: 1000;
}
.carousel-caption h1
{
	color: #111111;
	font-size: 47px;
	font-family: "Courier Header";
	font-weight: bold

}
.carousel-caption h4
{
	color: #fff;
	font-size: 30px;
	font-family: "Montserrat";
	font-style: italic;
	/*font-weight: bold;*/
	
}
.opacity
{
	opacity: 0.8;
}

/*ABOUT*/
#abc
{
	padding-bottom: 50px;
}


#about
{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;
}
.abount-content
{
	padding-top: 20px;
}

.skills-bar p
{
	margin-bottom: 6px;
	font-weight: 600;
}
.progress-bar
{
	border-radius: 16px;
}
.progress
{
	border-radius: 16px;
	margin-bottom: 20px;
}

/*Services*/
#services
{
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/services.jpg);
	background-size: cover;
	background-position: center;
	color: #efefef;
	background-attachment: fixed;
	padding-top:75px;
	padding-bottom: 50px;
}
#services h1
{
	text-align: center;
	color: #efefef;
	padding-bottom: 10px;
}
#services h1::after
{
	content: '';
	background: #efefef;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}
.services
{
	margin-top: 40px;
}
.icon
{
	font-size: 40px;
	margin: 20px auto;
	padding: 20px;
	height: 80px;
	width: 80px;
	border: 1px solid #fff;
	border-radius: 50%
}
#services p
{
	font-size: 17px;
	margin-top: 20px;
	color: #ccc;
}
.services .col-md-3:hover{
	background: #007bff;
	cursor: pointer;
	transition: 0.7s;
}


/*Team Members*/
#team
{
	padding-top:50px; 
	padding-bottom: 50px;
	color: #555;
}
.container h1
{
	text-align: center;
	color: #555;
	padding-bottom: 10px;
}
.container h1::after
{
	content:'';
	background: #007bff;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}
.profile-pic
{
	margin-top: 25px;
}
.profile-pic .img-box
{
	display: block;
	position: relative;
}
.profile-pic .img-box img
{
	filter: grayscale(1);
	height: 250px;
	width: 80px auto;
}
.profile-pic .img-box img:hover
{
	filter: grayscale(0);
	cursor: pointer;
}
.profile-pic h2
{
	font-family: "Montserrat";
	font-size: 22px;
	font-weight: bold;
	margin-top: 15px;
	color: #111111;
}
#team .fa
{
	height: 25px;
	width: 25px;
	color: #007bff;
	background: #fff;
	padding: 4px;
	border-radius: 50% 
}
.img-box ul
{
	padding: 15px 0;
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 50%;
	opacity: 0;
	transform: translateX(-50%);
}
.img-box ul li
{
	padding: 5px;
	display: inline-block;
}
.img-box:hover ul
{
	opacity: 1;
}
.img-box ul, .img-box ul li
{
	transition: 0.5s;
}

/*PRICE*/

#price
{
	padding: 40px 0;
	background: #efefef;
}
.head1 h1
{
	text-align: center;
	color: #555;
	padding-bottom: 10px;
}
.head1 h1::after
{
	content:'';
	background: #007bff;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}
.single-price
{
	margin-left: 140px;
	display: inline;
	float: left;
	width: 100%;
	background-color: #fff;
	transition: 0.5s;
}
.single-price:hover
{
	box-shadow: 0 2px 20px #333;
}
.price-head
{
	background-color: #2196f3;
	display: inline;
	float: left;
	padding: 10px 5px;
	text-align: center;
	width: 100%;
}
.price-head h2
{
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 5px;
	text-transform: uppercase;
}
.price-head p
{
	font-size: 25px;
	color: #ccc;
	font-weight: bold;
	line-height: 30px;
}
#price span
{
	font-size: 15px;
}
.price-content
{
	display: inline;
	float: left;
	margin-left: 39%;
	width: 100%;
	padding: 0 15px;
}
.price-content ul li
{
	border-left: 0px solid #efefef;
	padding: 10px 0px;
	list-style: none;
}
ul li:last child
{
	border: none;
}
.fa-check-circle
{
	color: green;
	margin-right: 10px;
	font-size: 20px;
}
.fa-times-circle
{
	color: red;
	margin-right: 10px;
	font-size: 20px;
}
.price-button
{
	display: inline;
	float: left;
	padding: 15px 15px 30px;
	text-align: center;
	width: 100%;
}
.buy-btn
{
	background-color: #2196f3;
	border-radius: 3px;
	display: inline-block;
	font-size: 18px;
	padding: 15px 50px;
	transition: 0.5s;
	color: #fff;
}
.buy-btn:hover
{
	border-color: 1px solid #fff;
	background-color: #3f51b5;
	color: #fff;
}
.price-button a
{
	text-decoration: none;
	color: #fff;
}

/*testimonials*/
#testimonials
{
	padding-top: 35px;
	padding-bottom: 20px;
}
#testimonials .row
{
	margin-top: 30px;
}
#testimonials .row .col-md-4
{
	margin: 40px auto;
}
.profile
{
	padding: 70px 10px 10px;
	background-color: #efefef;
}
.user
{
	width: 120px;
	height: 120px;
	border-radius: 50%; 
}
.profile img
{
	top: -60px;
	position: absolute;
	left: calc(50%-60px);
	border: 10px solid #fff; 
}
.profile h3
{
	font-size: 20px;
	margin-top: 15px;
	color: #111111;
	font-family: 'Montserrat'
	font-weight: bold;
}
#testimonials span
{
	font-size: 12px;
	color: #333;
}
blockquote
{
	font-size: 16px;
	line-height: 30px;
	font-style: italic;
}
.profile:hover
{
	box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
	cursor: pointer;
	transition: 0.5s;
}

/*CONTACT*/
#contact-us
{
	padding-top: 50px;
}


#contact
{
	background: #efefef;
	padding-top: 0px;
	padding-bottom: 40px;
	color: #777;
}
.contact-form
{
	padding: 15px;
}
.form-control
{
	border-radius: 0;
	border: none;
}
::placeholder
{
	color: #999;
}
.follow
{
	background: #fff;
	padding: 10px;
	margin: 15px;
	font-style: bold; 
	color: #111111;
}
.follow:hover
{
	box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
	cursor: pointer;
}
.follow i
{
	padding-left: 6px;
	padding-right: 7px;
}
.follow i:hover
{
	color: #007bff;
}